# ==========================================
# Entorno: Nginx Proxy Manager
# ==========================================
# Zona horaria inyectada por DockerWarrior
TZ={{SYSTEM_TZ}}

# Credenciales de la base de datos MariaDB
# Generadas dinámicamente durante el despliegue
DB_MYSQL_USER=npm_user
DB_MYSQL_PASSWORD={{SECRET:32}}
DB_MYSQL_DATABASE=npm_db
MYSQL_ROOT_PASSWORD={{SECRET:40}}
