# ==============================================================================
# Entorno de Infraestructura: Nginx Proxy Manager
# ==============================================================================

# Ajustes de localización del Host
TZ={{SYSTEM_TZ}}

# Credenciales internas de la base de datos MariaDB
# Estos datos se inyectan automáticamente de forma segura al procesar la plantilla
DB_MYSQL_USER=npm_user
DB_MYSQL_PASSWORD={{SECRET:32}}
DB_MYSQL_DATABASE=npm_db
MYSQL_ROOT_PASSWORD={{SECRET:40}}