# ==============================================================================
# Entorno de Infraestructura: Nginx Proxy Manager
# ==============================================================================

# Configuración de Seguridad del Motor de Base de Datos (Host Local)
# Estos valores serán mapeados de forma segura por el adaptador del compose
MYSQL_ROOT_PASSWORD={{SECRET:32}}

# Configuración de Acceso Base (Ingesta Nativa para el contenedor NPM)
DB_MYSQL_HOST=db
DB_MYSQL_PORT=3306
DB_MYSQL_NAME=npm
DB_MYSQL_USER=npm_user
DB_MYSQL_PASSWORD={{SECRET:24}}